.navbar {
    background-color: crimson;
    border-radius: 30%;
    text-align: center;
    height: 30px;
    text-decoration: none;
    padding-top: 10px;
    width: 50%;
}

.img1{
    border-radius: 30%;
    height: 150px;
    width: 200px;
    align-self: center;
}